/* html {
    scroll-behavior: smooth;
} */



/* contacts Section */
.contacts {
    margin-top: 6rem;
}
.contacts h1,
  .contacts .header_txt  {
    text-align: center;
    max-width: 300px;
    margin: 1rem auto;
}

.contacts .header_txt {
    color:rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    max-width: 100%;
}

.contacts_div {
    margin-top: 1rem;
}

.contacts_div .div_header {
    text-align: center;
}

.div_header button {
    background-color: #000;
    padding: .5em .7em;
    font-size: 1rem;
    border-radius: 0.5rem;
     box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
     border: 0px solid linear-gradient(to bottom, rgb(253, 251, 251), rgb(235, 226, 226));
     margin-bottom: 1rem;
}

.contacts .contacts_info {
    max-width: 90%;
    margin:auto;
    margin-top:3em;
    padding:1em;
    /* transition: transform 3s ease; */
}

.contacts_info {
    border: 2px solid rgba(0, 0, 0, 0.1);
     border-radius: 0.7rem;
     transition:  1s ease;
}

.contacts_info:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* transform: translateY(-20px);
    background-image: linear-gradient(to bottom, rgb(253, 251, 251), rgb(235, 226, 226)) */
}

.contacts_prc p {
    font-size: 1.3rem;
    font-weight: bold;
    opacity: 0.9;
    margin-bottom: 0.5rem;
}

.contacts_prc .price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.contacts_info a{
    border: 1px solid rgba(0, 0, 0, 0.4);
    display: block;
    max-width: 50%;
    text-align: center;
    padding:0.9em 1em;
    border:none;
    border-radius: 1em;
    color: #000;
    font-size: 0.9rem;
    font-weight: bold;
    margin:auto;
    margin-top: 2em; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: 0.5s ease;
}

.contacts_info a:hover {
    background-color: #000;
    color: #fff;
    opacity: .8;
    transition: 0.2s ease;
}

/* Map section */
.map {
    margin-top: 5rem;
}

/* Footer Section */
.footer .footer_color {
    background-image: linear-gradient(360deg, rgb(253, 251, 251), rgb(235, 226, 226), rgb(253, 251, 251));
}

